= link_to('New Sample', new_sample_path)
%table
	%thead
		%tr
			%th Sample Name
			%th Image Uid
			%th Image Name
			%th Image
			%th Actions
	%tbody
		- @samples.each do |s|
			%tr
				%td= s.name || 'untitled'
				%td= s.image_uid
				%td= s.image_name
				%td
					%img{src: (s.image ? s.image.url : nil), width: '100px' }
				%td
					= link_to('Duplicate', duplicate_sample_path(s.id))
					|
					= link_to('Edit', edit_sample_path(s.id))
